<%- include('./partials/header') %>
    <div class="parent">
        <div class="div1" <href= "./ancients">Ancient Wars
            <img class= "ancient_history" src="https://opengameart.org/sites/default/files/axe_render.png">
        </div>
        <div class="div2">Medival Wars
        </br><img class= "medival_history" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8w06A04Pi8wzJ9GyK8Ai-do-J4QIUas6bJLE20dl8f7wnpWnmeQ&s">
        </div>
        <div class="div3">Modern Wars </br>
            <img class = "modern_history" src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7yXdi8oVYslhqnkw8xh-FV_lbAgzW3wSDA7yVv5Zjyd3atlkD&s">
        </div>
        <div class="div4">Contemporary Wars </div>
        </div>
</body>
</html>
