<%- include('./histories/partials/header') %>

      <style class = "index_img">
        body {
          background-image: url('https://images7.alphacoders.com/804/thumb-1920-804571.jpg');
          background-size: 100%
        }
        </style>

      </div>
  <%- include('./histories/partials/footer') %>