<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Wars</title>
</head>
<body>
    <div class="navbar">
        <a href="/" class = "nav-home">Home</a>
        <div class="dropdown">
          <button class="dropbtn">Historical Wars 
          </button>
          <div class="dropdown-content">
            <a href="/ancients">ANCIENT WARS</a>
            <a href="/medivals">MEDIEVAL WARS</a>
            <a href="/moderns">PRE-MODERN WARS</a>
            <a href="/contemporaries">MODERN WARS</a>
          </div>
        </div> 

        <div class="dropdown">
            <button class="dropbtn">Historical Weapons
            </button>
            <div class="dropdown-content">
              <a href="/weapons/ancients">ANCIENT WEAPONS</a>
              <a href="/weapons/medivals">MEDIEVAL WEAPONS</a>
              <a href="/weapons/moderns">PRE-MODERN WEAPONS</a>
              <a href="/weapons/contemporaries">MODERN WEAPONS</a>
            </div>
          </div> 

          <% if (user){ %>
              <div class="dropdown">
                <button class="dropbtn">ADD/EDIT Wars
                </button>
                <div class="dropdown-content">

                  <a href="/histories/add-wars">ADD WARS</a>
                  <a href="/histories/views">EDIT WARS</a>
                </div>
              </div>
              <% } %>
              <% if (user){ %> 
              <div class="dropdown">
                <button class="dropbtn">ADD/EDIT Weapons
                </button>
                <div class="dropdown-content">

                  <a href="/weapons/add-weapons">ADD WEAPONS</a>

                  <a href="/weapons/views">EDIT WEAPONS</a>
                </div>

              </div>
              <% } %>
              <div class= "log"> 
              <% if (user) { %>
                <a href="/logout"><i class="log"></i>Log Out</a>
              <% } else { %>
                <a href="/auth/google"><i class="log"></i>Login with Google</a>
              <% } %>
            </div>>
            </div> 